* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header, 
footer {
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: auto;
  max-width: 1000px;
  padding: 1rem;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}